@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

.miniver-regular {
  font-family: "Miniver", cursive;
  font-weight: 400;
  font-style: normal;
}
