name: Build and Release Frontend Daily Greens
run-name: Building and Releasing Frontend Daily Greens

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    environment: BUILD

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      # - name: Login to GitHub Container Registry
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     push: true
      #     tags: |
      #       ghcr.io/itsnamaulanahasan/frontend-daily-greens:latest
      #       ghcr.io/itsnamaulanahasan/frontend-daily-greens:${{ github.ref_name }}
      #     build-args: |
      #       VITE_BASE_URL=${{ vars.VITE_BASE_URL }}

      # - name: Execute remote SSH commands using SSH key
      #   uses: appleboy/ssh-action@v1
      #   with:
      #     host: ${{ secrets.HOST }}
      #     username: ${{ secrets.USERNAME }}
      #     key: ${{ secrets.KEY }}
      #     port: ${{ secrets.PORT }}
      #     script: docker pull ghcr.io/itsnamaulanahasan/frontend-daily-greens:latest

      - name: Add new SSH public key to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            sudo mkdir -p ~/.ssh
            sudo chmod 700 ~/.ssh
            sudo echo "${{ secrets.SSH_PUBLIC_KEY }}" >> ~/.ssh/authorized_keys
            sudo chmod 600 ~/.ssh/authorized_keys
